{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card card-body bg-light">
            <h1>
                Liste des articles
            </h1>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Vat Price</th>
                </tr>
                {% for article in article %}
                    <tr>
                        <td>{{ article.name }}</td>
                        <td>{{ article.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
    {% stylesheets
        '@AppBundle/Resources/scss/style.scss'
        filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% javascripts
        '@AppBundle/Resources/js/scripts.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
