{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Create article
{% endblock %}
{% block body %}
    <div class="container">
        <h2>Create an article !</h2>
        {{ form(form) }}
    </div>
{% endblock %}